@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes floatUp {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1;
  }
  25% {
    transform: translate(calc(-50% + var(--tx)), -80px) scale(0.6);
  }
  50% {
    transform: translate(calc(-50% - var(--tx)), -160px) scale(1.0);
  }
  75% {
    transform: translate(calc(-50% + var(--tx)), -240px) scale(1.1);
  }
  100% {
    transform: translate(calc(-50% - var(--tx)), -350px) scale(1.2);
    opacity: 0;
  }
}
